.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    .background {
        align-items: center;
        background-image: url('./assets/bg-desktop.svg');
        background-size: contain;
        background-repeat: no-repeat;
        display: flex;
        flex-direction: column;
        justify-content: center;
        min-height: 100vh;
        padding: 40px 80px;
        width: 100%;

        @media (max-width: 1190px) {
            background-size: cover;
            padding: 10px 40px;
        }

        @media (max-width: 900px) {
            background-image: url('./assets/bg-mobile.svg');
            background-size: contain;
            background-repeat: no-repeat;
        }

        .header {
            max-width: 1200px;
            width: 100%;

            .logo {
                width: 170px;

                @media (max-width: 900px) {
                    margin-top: 20px;
                    margin-bottom: 30px;
                }
            }
        }

        .main {
            color: #fff;
            display: flex;
            gap: 60px;
            margin-top: 50px;

            @media (max-width: 900px) {
                flex-direction: column;
            }

            .main_image {
                @media (max-width: 1190px) {
                    width: 100%;
                    max-width: 500px;
                }
            }

            .section {
                margin-top: 55px;

                @media (max-width: 1190px) {
                    margin-top: 0px;
                }

                @media (max-width: 900px) {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                }

                .title {
                    font-family: 'Poppins', sans-serif;
                    font-size: 35px;
                    max-width: 400px;

                    @media (max-width: 1049px) {
                        font-size: 25px;
                        max-width: 300px;
                    }

                    @media (max-width: 900px) {
                        text-align: center;
                    }
                }

                .paragraph {
                    font-family: 'Open Sans', sans-serif;
                    line-height: 24px;
                    margin-top: 25px;
                    max-width: 460px;

                    @media (max-width: 1049px) {
                        max-width: 300px;
                    }

                    @media (max-width: 900px) {
                        text-align: center;
                    }
                }

                .button {
                    border: none;
                    background: #fff;
                    border-radius: 30px;
                    box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.534);
                    color: hsl(257, 40%, 49%);
                    cursor: pointer;
                    font-size: 14px;
                    margin-top: 18px;
                    padding: 13px 50px;

                    &:hover {
                        background-color: hsl(300, 69%, 71%);
                        color: #fff;
                    }

                    @media (max-width: 900px) {
                        margin-top: 24px;
                        padding: 10px 80px;
                    }
                }
            }
        }

        .footer {
            display: flex;
            gap: 18px;
            justify-content: flex-end;
            max-width: 1200px;
            width: 100%;

            @media (max-width: 900px) {
                justify-content: center;
                margin-top: 80px;
                margin-bottom: 30px;
            }

            .icon {
                align-items: center;
                border: 1px solid #fff;
                border-radius: 50%;
                cursor: pointer;
                display: flex;
                justify-content: center;
                padding: 8px;

                &:hover {
                    border: 1px solid hsl(300, 69%, 71%);

                    svg {
                        color: hsl(300, 69%, 71%);
                    }
                }

                svg {
                    color: #fff;
                }
            }
        }
    }


}